<h3>Create Category</h3>
<p *ngIf="dataSaved && categoryForm.pristine" ngClass="success">
  Category created successfully.
</p>
<form [formGroup]="categoryForm" (ngSubmit)="onFormSubmit()">
  <table>
    <tr>
      <td>Title: </td>
      <td>
        <input formControlName="category">
        <div *ngIf="category.dirty && category.errors" class="error">
          <div *ngIf="category.errors.required">
            Category required.
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Active: </td>
      <td>
        <input formControlName="active">
        <div *ngIf="active.dirty && active.errors" class="error">
          <div *ngIf="active.errors.required">
            Active category required.
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button [disabled]="categoryForm.invalid">Submit</button>
      </td>
    </tr>
  </table>
</form>
<h3>Article Details</h3>
<p *ngFor="let cat of categoryList | async">
  {{cat.id}} | {{cat.category}} | {{cat.active}}
</p> 
