<h1>Category Data</h1>

<p>This component demonstrates fetching Category data from the server.</p>

<p *ngIf="!categoryList"><em>Loading...</em></p>

<table class='table' *ngIf="categoryList">
  <thead>
    <tr>
      <th>CategoryId</th>
      <th>Category</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categoryList">
      <td>{{ category.categoryId }}</td>
      <td>{{ category.category }}</td>
      <td>{{ category.active }}</td>
      <td>
  </tbody>
  <div class="form-group">
    <button class="btn" (click)="edit()">Add/Edit</button>
  </div>
</table>
